html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: #4ECCA3 auto 5px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    margin: 0;
}